<form >
    <input type="text" placeholder="enter id" #id> <br>
<input type="text" placeholder="enter title" name="title" #title> <br>
<input type="text" placeholder="enter content" name="unit" #content> <br>
<button (click)="saveFruit(id.value, title.value, content.value)">Save</button>
</form>

